article::before {
  content: attr(data-category);
}

article[data-columns="3"] {
  width: 400px;
  background-color: red;
}

article[data-columns="4"] {
  width: 500px;
  background-color: blue;
}

.callout {
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
}

.callout::not([data-variant]) {
  border-color: rgb(15, 15, 15);
  background-color: rgb(15 15 15 / 0.2);
}

.callout[data-variant="note"] {
  border-color: rgb(15 15 235);
  background-color: rgb(15 15 235 / 0.2);
}
.callout[data-variant="warning"] {
  border-color: rgb(235 15 15);
  background-color: rgb(235 15 15 / 0.2);
}
